name: Build Morpheus Stemlibs

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update -qq
          sudo apt-get install -qq -y build-essential manpages-dev flex

      - name: Install dependencies (macOS)
        if: matrix.os == 'macos-latest'
        run: |
          brew update
          brew install flex

      - name: Make
        run: bash -c "./build_mac.sh"

      - name: Make the stemlib
        run: bash -c "./build_stemlib.sh"

    # - name: commit
    #   uses: EndBug/add-and-commit@v4
    #   with:
    #     message: "auto build linux and stemlib"
    #     add: dist
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
